<!DOCTYPE html>
<html th:fragment="layout(content)">
<head>
    <meta charset="utf-8" />
   
    <link rel="stylesheet" href="Home.css">
    <script src="https://kit.fontawesome.com/3e21e075ef.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <section class="slider">
        <button class="btn left"><i class="fa-solid fa-chevron-left"></i></button>
        <button class="btn right"><i class="fa-solid fa-chevron-right"></i></button>
        <img id="main_img" src="">
        <div class="slide_img">
            <img src="IMAGE/TrangChuongTrinhThang9__HeroBanner_TrungThu_SlideBanner_840x320_2 (1).webp" class="imgs">
            <img src="IMAGE/BannerHomePage_HotWheels_SlideBanner_840x320.webp" class="imgs">
            <img src="IMAGE/MCbooks_KC_Slide_840x320.webp" class="imgs">
            <img src="IMAGE/BannerHomePage_TrangCardGame_SlideBanner_840x320.webp" class="imgs">
            <img src="IMAGE/Khongtienmat_0924_840x320.webp" class="imgs">
            <img src="IMAGE/BannerHomePage_TrangBachHoa_SlideBanner_840x320.webp" class="imgs">
            <img src="IMAGE/BannerHomePage_TrangCardGame_SlideBanner_840x320.webp" class="imgs">
            <img src="IMAGE/Resize_TrangDoiTacThang09_SlideBanner_840x320.webp" class="imgs">
           
        </div>
    </section>

    <section id="subSection">
        <img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-09-2024/TrangChuongTrinhThang9_%20Block06_TuSachTrangRam_SmallBanner_310x210_2.jpg" alt="HÀ CHILL, GIÁ IU" />
        <img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-09-2024/NgoaiVan_SmallBanner_310x210.jpg" alt="BẢO VỆ CẢ HÈ" />
        <img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-09-2024/FirstNew_Silver_Smallbanner_T9_Silver_310x210_2.jpg" alt="HÈ CHILL DEAL CHẤT" />
    </section>

    <section class="section 1">
        <h1>TỦ SÁCH NỔI BẬT</h1>
        <div class="category">
            <a href="ProductDetail.html" class="product">
                <img src="IMAGE/hinha.webp" class="product_img" />
                <div class="product_info">
                    <h3>HOA HỌC TRÒ</h3>
                    <p>
                        <span class="price">654.000<sup style="text-decoration: underline;">đ</sup></span>
                        <span class="discount">90.000</span><sup style="text-decoration: underline;">đ</sup> -25%
                    </p>
                </div>
                
            </a>
            <a href="ProductDetail.html" class="product">
                <img src="IMAGE/hinhb.webp" class="product_img" />
                <div class="product_info">
                    <h3>25 ĐỘ ÂM</h3>
                    <p>
                        <span class="price">700.000<sup style="text-decoration: underline;">đ</sup></span>
                        <span class="discount">80.000</span><sup style="text-decoration: underline;">đ</sup> -22%
                    </p>
                </div>
                
            </a>
            <a href="ProductDetail.html" class="product">
                <img src="IMAGE/hinh c.webp" class="product_img" />
                <div class="product_info">
                    <h3>NEXUS</h3>
                    <p>
                        <span class="price">70.000<sup style="text-decoration: underline;">đ</sup></span>
                    </p>
                </div>
              
            </a>
            <a href="ProductDetail.html" class="product">
                <img src="IMAGE/nxcmctbt.webp" class="product_img" />
                <div class="product_info">
                    <h3>NGÀY XƯA CÓ 1 CHUYỆN TÌNH</h3>
                    <p>
                        <span class="price">60.000<sup style="text-decoration: underline;">đ</sup></span>
                    </p>
                </div>
               
            </a>
        </div>
        <div class="section_end">
            <button class="more">Xem Tủ Sách Nổi Bật <i class="fa-solid fa-chevron-right"></i></button>
        </div>
    </section>

    <section class="section 2">
        <h1>XU HƯỚNG MUA SẮM</h1>
        <div class="category">
            <a href="ProductDetail.html" class="product">
                <img  src="IMAGE/b_a-thi_n-t_i-b_n-tr_i-k_-_i_n-b_n-ph_i_1.webp" class="product_img" />
                <div class="product_info">
                    <h3>TRÁI & PHẢI</h3>
                    <p>
                        <span class="price">450.000<sup style="text-decoration: underline;">đ</sup></span>
                        <span class="discount">5.000</span><sup style="text-decoration: underline;">đ</sup> -25%
                    </p>
                </div>
             
            </a>
            <a href="ProductDetail.html" class="product">
                <img src="IMAGE/suoi-am-mat-troi-01-_1_.webp" class="product_img" />
                <div class="product_info">
                    <h3>SƯỞI ẤM MẶT TRỜI</h3>
                    <p>
                        <span class="price">325.000<sup style="text-decoration: underline;">đ</sup></span>
                        <span class="discount">25.000</span><sup style="text-decoration: underline;">đ</sup> -31%
                    </p>
                </div>
                
            </a>
            <a href="ProductDetail.html" class="product">
                <img src="IMAGE/image_217480.webp" class="product_img" />
                <div class="product_info">
                    <h3>CÂY CAM NGỌT CỦA TÔI</h3>
                    <p>
                        <span class="price">894.000<sup style="text-decoration: underline;">đ</sup></span>
                        <span class="discount">94.000</span><sup style="text-decoration: underline;">đ</sup> -15%
                    </p>
                </div>
                
            </a>
            <a href="ProductDetail.html" class="product">
                <img src="IMAGE/image_195509_1_36793.webp" class="product_img" />
                <div class="product_info">
                    <h3>NHÀ GIẢ KIM</h3>
                    <p>
                        <span class="price">54.000<sup style="text-decoration: underline;">đ</sup></span>
                        <span class="discount">5.400</span><sup style="text-decoration: underline;">đ</sup> -17%
                    </p>
                </div>
               
            </a>
        </div>
        <div class="section_end">
            <button class="more">Xem Xu Hướng Mua Sắm <i class="fa-solid fa-chevron-right"></i></button>
        </div>          
    </section>

    <section class="section 3">
        <h1>Thương Hiệu Nổi Bật</h1>
        <div class="category">
            <a href="ProductDetail.html" class="product">
                <img src="IMAGE/8935235241374.webp" class="product_img" />
                <div class="product_info">
                    <h3>CHIP WAR</h3>
                    <p>
                        <span class="price">135.000<sup style="text-decoration: underline;">đ</sup></span>
                        <span class="discount">70.000</span><sup style="text-decoration: underline;">đ</sup> -34%
                    </p>
                </div>
          
            </a>
            <a href="ProductDetail.html" class="product">
                <img src="IMAGE/image_200687.webp" class="product_img" />
                <div class="product_info">
                    <h3>CHIẾN TRANH TIỀN TỆ 3</h3>
                    <p>
                        <span class="price">500.000<sup style="text-decoration: underline;">đ</sup></span>
                        <span class="discount">50.000</span><sup style="text-decoration: underline;">đ</sup> -19%
                    </p>
                </div>
           
            </a>
            <a href="ProductDetail.html" class="product">
                <img src="IMAGE/bia-truoc-chientrangtiente-2-tb-jpg.webp" class="product_img" />
                <div class="product_info">
                    <h3>CHIẾN TRANH TIỀN TỆ 2</h3>
                    <p>
                        <span class="price">450.000<sup style="text-decoration: underline;">đ</sup></span>
                        <span class="discount">50.000</span><sup style="text-decoration: underline;">đ</sup> -17%
                    </p>
                </div>
               
            </a>
            <a href="ProductDetail.html" class="product">
                <img src="IMAGE/QTVH.webp" class="product_img" />
                <div class="product_info">
                    <h3>QUẢN TRỊ VĂN HÓA <p>
                                <span class="price">321.000<sup style="text-decoration: underline;">đ</sup></span>
                                <span class="discount">28.000</span><sup style="text-decoration: underline;">đ</sup> -15%
                            </p>
                </div>
               
            </a>
        </div>
        <div class="section_end">
            <button class="more">Xem Thương Hiệu Nổi Bật <i class="fa-solid fa-chevron-right"></i></button>
        </div>
    </section>

    <img src="IMAGE/Khongtienmat_0924_840x320 (1).webp" style="width: 80%; height: fit-content; margin: 0 10%; cursor: pointer;" />

    <div class="receive">
        <h2>Đăng ký nhận tin từ Fahasa</h2>
        <p>Thông tin sản phẩm mới nhất và chương trình khuyến mãi</p>
        <div class="receive_email">
            <input type="text" name="name" value="" placeholder="Email của bạn" />
            <button>Đăng ký</button>
        </div>
    </div>

    

    <script src="js/app.js"></script>
</body>
</html>