    <footer>
            <div>
                <div class="foot first">
                    <img src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/fahasa-logo.png" alt="" class="logo" />
                    <h5>
                        Lầu 5, 387-389 Hai Bà Trưng Quận 3 TP HCMCông Ty Cổ Phần Phát Hành Sách TP HCM - FAHASA60 - 62 Lê Lợi, Quận 1, TP. HCM, Việt Nam
                        <h5>Fahasa.com nhận đặt hàng trực tuyến và giao hàng tận nơi. KHÔNG hỗ trợ đặt mua và nhận hàng trực tiếp tại văn phòng cũng như tất cả Hệ Thống Fahasa trên toàn quốc</h5>   
                    </h5>
                    <img src="https://shopdunk.com/Themes/SD/Content/images/Face.png" alt="Facebook" />
                    <img src="https://shopdunk.com/Themes/SD/Content/images/Youtube.png" alt="Youtube" />
                    <img src="https://shopdunk.com/Themes/SD/Content/images/Zalo.png" alt="Zalo" />
                </div>
                <div class="foot">
                    <h5>DỊCH VỤ</h5>
                    <a href="#">Điều Khoản Sử Dụng</a><br />
                    <a href="#">Chính Sách Bảo Mật Thông Tin</a><br />
                    <a href="#">Chính Sách Bảo Mật Thanh Toán</a><br />
                    <a href="#">Giới Thiệu Fahasa</a><br />
            
                
                </div>
                <div class="foot">
                    <h5>HỖ TRỢ</h5>
                    <a href="#">Chính Sách Đổi Trả</a><br />
                    <a href="#">Chính Sách Bảo Hành</a><br />
                    <a href="#">Chính Sách Vận Chuyển</a><br />
                    <a href="#">Chính Sách Khác Sỉ</a><br />
            
                </div>
                <div class="foot last">
                    <h5>TÀI KHOẢN CỦA TÔI</h5>
                    <a href="#">Đăng Nhập</a><br />
                    <a href="#">Tạo Tài Khoản Mới</a><br />
                    <a href="#">Lịch Sử Mua Hàng</a><br />
                    <a href="#">Thay Đổi Địa Chỉ Khách Hàng</a><br />
                    <a href="#">Chi Tiết Tài Khoản</a>
                <div class ="contact">
                <h4>LIÊN HỆ</h4>
                    <ul>
                        <li><i class="fa-solid fa-location-dot"></i>  60-62 Lê Lợi, Q.1, TP. HCM</li>
                        <li><i class="fa-solid fa-envelope"></i> cskh@fahasa.com.vn</li>
                        <li><i class="fa-solid fa-phone"></i> 1900636467</li>
                    </ul>
    </div>
                </div>
            </div>
            <div id="footer_end">
                <small style="font-size: 0.9rem; line-height: 1.3rem;">
                    Giấy chứng nhận Đăng ký Kinh doanh số 0304132047 do Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh cấp ngày 20/12/2005, <br />
                    đăng ký thay đổi lần thứ 10, ngày 20/05/2022.<br />
                
                </small>
                <img src="https://shopdunk.com/images/uploaded-source/Trang%20ch%E1%BB%A7/Bocongthuong.png" alt="Certification" />
            </div>
        </footer>